<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionTests">
	<listeners>
		<listener
			class-name="com.qa.Salesforce.listeners.ExtentReportListener" />

	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class
				name="com.qa.Salesforce.tests.TC_03_FranchiseAccountandContactalongwithOppor" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
